<h1>Made it to User Login</h1>
<form action="/login" method="POST">
  <input type="text" name="name" placeholder="Name:"><br>
  <input type="password" name="password" placeholder="Password:"><br>
  <input type="submit" value="submit">
</form>
