<h1>Manager Sign Up</h1>


<form action="/signup" method="POST">
  <input type="text" name="name" placeholder="Name:"><br><br>
  <input type="text" name="dob" placeholder="Date Of Birth:"><br><br>
  <input type="password" name="password" placeholder="Password:"><br><br>
  <input type="submit" value="Sign Up"><br>
</form>
