<h1>Meal Page</h1>

<form action="/newmeal" method="POST">
  <input type="dish_name" name="dish_name" placeholder="Dish Name:"><br><br>
  <input type="cook_time" name="cook_time" placeholder="cook_time:"><br><br>
  <input type="price" name="price" placeholder="Pick Price:"><br><br>

  <input type="submit" value="Create Table"><br>
</form>
